body{
	margin:0;
	padding:0;
	background:#fff;
	font-family:url(fontawesome-webfont.ttf);
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #00004c;
	text-decoration: underline;
}
#containor{
	margin:0 auto;
	padding:80px 0 0 0;
	width:1200px;
	background:#fff;
	border-radius:15px;
	text-align:center;

}
#header{
	width:1200px;
	height:120px;
	margin:0px;
	padding:35px 0 0 0;
	background:#ccc;
	border-radius:15px 15px 0 0;
	font-size:30px;
}
.title{
color:blue;
font-size:55px;
}
#main{
	width:1200px;
	margin:0px;
	padding:60px 0;
	background:#4a4a4a;
	font-size:45px;

}
#footer{
	width:1200px;
	margin:0px;
	padding:120px 0 10px 0;
	background:#ccc;
	border-radius:0 0 15px 15px;
	font-size:15px;
	clear:both;
}
.copy{
	font-size:25px;
}