BODY {
	BACKGROUND-POSITION: center top; BACKGROUND-REPEAT: repeat-y; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 2px; FONT-FAMILY: "宋体"; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A {
	COLOR: #4a4a48; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD {
	COLOR: #3C3C3C; FONT-FAMILY: "宋体"; FONT-SIZE: 14px; line-height:110%; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0482C6; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.font_14 {
	FONT-FAMILY: "宋体";FONT-SIZE: 28px; COLOR:#008000;line-height:130%;TEXT-DECORATION: none
}

.font_14 a{
	FONT-FAMILY: "宋体";FONT-SIZE: 32px; COLOR:#FF0000;line-height:130%;TEXT-DECORATION: none
}

.font_14 a:hover{
	FONT-FAMILY: "宋体";FONT-SIZE: 32px; COLOR: #808000;line-height:130%;TEXT-DECORATION: none
}

.font_15 a{
	FONT-FAMILY: "宋体";FONT-SIZE: 32px; line-height:130%;TEXT-DECORATION: none
}

.font_15 a:hover{
	FONT-FAMILY: "宋体";FONT-SIZE: 32px; COLOR: #808000;line-height:130%;TEXT-DECORATION: none
}
a.fontbox {
	margin:5px;
	padding-left:3px;
	padding-right:3px;
	padding-top:12px;
	padding-bottom:12px;
	float:left;
	font-size:32px;
	text-align:center;
	border: 1px dashed #ccc;
}

a.fontbox:hover {
    text-decoration: none;
	font-size:32px;
	border: 1px solid #C5C5C5;
	background-color:#FFFFCC;
}

a.fontbox:active, a.fontbox:focus {
    text-decoration: none;
}
