body{
    background: #212121;
    color: white;
    text-align: center;
}
#top{
margin: 0 auto;
padding-top:50px;
font-size: 30px;
}
hr{
    border: 1px dashed;
    border-color: red;
}
.title{
    margin: 0px;
    padding: 3px;
    font-size: 25px;
    clear:both;
}
