body{

}
#container{
margin:0 auto;
padding:0;
width:1200px;
background:#ccc;
}
#header{
margin:0;
padding:0;
width:1200px;
height:80px;
background:white;
}
#main{

}
#content{

}
#footer{
margin:0;
padding:0;
width:1200px;
height:80px;
background:white;
text-align:center;
}
.plist{
padding-left: 200px;
}
